
  <div class="container">
    <% if(typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>
    <h1 style="margin-top: 30px;">Web Server Node Js </h1>
    <h2>Sure Want to edit Data <%= contact.name %>?</h2>
  </div>
  <div>
    <form action="/contact/update" method="post">
      <input name="oldname" type="hidden" value="<%= contact.oldname || contact.name  %>" placeholder="oldname" class="form-control"/>
       
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name :</span>
      <input name="name" type="text" value="<%= contact.name %>" placeholder="name" class="form-control"/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Number :</span>
        <input name="number" type="number" value="<%= contact.number %>" placeholder="number" class="form-control"/>
      </div>
      <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Email :</span>
      <input name="email" type="email" value="<%= contact.email %>" placeholder="email" class="form-control"/>
    </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>